---
layout: layouts/fullwidth.njk
---
{% from "../../../node_modules/govuk-frontend//dist/govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{{ govukBreadcrumbs({
  items: [
    {
      text: site.name,
      href: "/"
    },
    {
      text: "users"
    }
  ]
}) | safe }}
<h2 class="govuk-heading-l">Users ({{ collections.users | length }})</h2>
{{ content| safe }}
<div class="opg-event-wrapper">
{% for user in collections.users %}
  <div class="opg-event-block">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
      <a href="{{ user.url }}" class="govuk-link"> {{ user.data.name }} </a> 
    </h2>
    <p class="govuk-body-s">{{ user.summary }}</p>
  </div>
{% endfor %}
</div>