---
layout: layouts/fullwidth.njk
eleventyComputed:
    title: "Events owned by {{ name }}"
---
{% from "../../../node_modules/govuk-frontend//dist/govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{{ govukBreadcrumbs({
  items: [
    {
      text: site.name,
      href: "/"
    },
    {
      text: "Users",
      href: "/users"
    },
    {
      text: name
    }
  ]
}) | safe }}
<h1 class="govuk-heading-l">Events owned by {{name}}</h2>
{{ content| safe }}
<div class="opg-event-wrapper">
{% for event in collections.events | owners(url) %}
  <div class="opg-event-block">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
      <a href="{{ event.url }}" class="govuk-link">{{ event.data.name }} </a>  <strong class="govuk-tag govuk-tag--yellow" style="float:right">v{{ event.data.version }}</strong>
    </h2>
    <p class="govuk-body-s">{{ event.data.summary }}</p>
    <p class="	govuk-body-s">
      <span class="opg-event-block__info">Producers: {{ event.data.producers | length }}
      </span>
      <span class="opg-event-block__info">
        Consumers: {{ event.data.consumers | length }}
      </span>
      <span class="opg-event-block__info">Domain: {{ event.data.domain }}</span>
    </p>
  </div>
{% endfor %}
</div>
