name: Test configuration

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v5
        with:
          node-version: lts/*

      - name: Install dependencies
        run: npm ci --ignore-scripts

      - name: Test
        run: npm run test

      - name: Check build possible
        env:
            BASE_PATH: /opg-event-store
        if: ${{ github.event_name == 'pull_request' }}
        run: npm run build
